.fa-times {
    color: red;
    top: 40px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;
}
.position {
    position: relative;
}

.fa-times:hover{
    color: gray;
}